<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>javascript playground</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li class="register"><a href="#">Register</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">javascript playground</h3>
            </div>
        </div>

             <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputname3" class="col-sm-2 control-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="full-name" class="form-control" id="inputname3" placeholder="Full Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputemail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputemail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputphonenumber3" class="col-sm-2 control-label">Phone Number</label>
                    <div class="col-sm-3">
                        <input type="phone-number" class="form-control" id="inputphonenumber3" placeholder="Phone Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputcity3" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-3">
                        <input type="city" class="form-control" id="inputcity3" placeholder="City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputstate3" class="col-sm-2 control-label">State</label>
                    <div class="col-sm-2">
                        <input type="state" class="form-control" id="inputstate3" placeholder="State">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="inputzip3" class="col-sm-2 control-label">Zip</label>
                    <div class="col-sm-1">
                        <input type="zip" class="form-control" id="inputzip3" placeholder="Zip">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputyear3" class="col-sm-2 control-label">Year</label>
                    <div class="col-sm-1">
                        <input type="year" class="form-control" id="inputyear3" placeholder="Year">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputymake3" class="col-sm-2 control-label">Make</label>
                    <div class="col-sm-3">
                        <input type="year" class="form-control" id="inputmake3" placeholder="Make">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputmodel3" class="col-sm-2 control-label">Model</label>
                    <div class="col-sm-3">
                        <input type="model" class="form-control" id="inputmodel3" placeholder="Model">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputimage3" class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <input type="inputimage3" class="form-control" id="inputimage3" placeholder="Copy and Paste Url Here">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default submit">Submit</button>
                    </div>
                </div>
            </form>
        <div class="users-container">
             <div class="each-user"> 
                <div class="user-info">
                <img class="car-image" src="http://placehold.it/350x150">
                    <div class="name">Bob Thorpe</div>
                    <div class="vehicle">
                    <div class="year">1954</div>
                    <div class="make">Ford</div>
                    <div class="model">Mustang</div>
                    </div>
                </div>
            </div> 
            <div class="each-user"> 
                <div class="user-info">
                <img class="car-image" src="http://placehold.it/350x150">
                    <div class="name">Robert Wayne</div>
                    <div class="vehicle">
                    <div class="year">1946</div>
                    <div class="make">Chevy</div>
                    <div class="model">Wang</div>
                    </div>
                </div>
            </div> 
        </div>
       
        <script class= "RegistrantTemplate" type="text/template">
            <div class="each-user">
                <img class="car-image"src="<%= data.image %>">
                <div class="name"><%= data.name %></div>
                <div class="year"><%= data.year %></div>
                <div class="make"><%= data.make %></div>
                <div class="model"><%= data.model %></div>
            </div>    
        </script>
        


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->

        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
